.tag {
    text-decoration: none;
    font-size: 0.8em;
    color: #7a7b7c;
    margin: 1.2%;
    font-weight: bold;
}

.tag:hover {
    text-decoration: underline;
    color: #365899;
    /* font-weight: bolder; */
}

.post-date .tag {
    font-size: inherit;
    color: #7a7b7c;
    margin: 1%;
    font-weight: inherit;
}